*{
	margin:  0;
	padding:  0;
	font-family: monospace;
}

.banner{
	width: 110%;
	height: 200vh;
	background-image: linear-gradient(rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.75)), url(images.jpg);
	background-size: cover;
	background-position: center;
}

.navbar{
	width: 85%;
	margin: auto;
	padding: 35px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo{
	width: 250px;
	cursor: pointer;
}


.navbar ul li{
	list-style: none;
	display: inline-block;
	margin: 0 270px;
	margin-top: -200px;
	position: relative;
}

.navbar ul li a{
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
}

.navbar ul li::after{
	content: '';
	height: 2px;
	width: 0%;
	background: #009688;
	position: absolute;
	left: 0;
	bottom: -10px;
	transition: 0.5s;
}

.content{
	width: 100%;
	position: absolute;
	top: 25%;
	transform: translateY(-175%);
	text-align: center;
	color: #fff;
}

.content h1{
	font-size: 50px;
	margin-top: 80px;
}


.navbar ul li:hover::after{
	width: 100%;
}

.sanjit{
	width: 200px;
	position: absolute;
	cursor: pointer;
}


.friend {
	width: 115%;
	position: absolute;
	transform: translateY(-25%);
	text-align: relative;
	color: #6495EE;
	font-size:5px;
}

.friend h1{
	transform: translateX(100px);
	font-size: 30px;
}

.jacob{
	width: 200px;
	position: absolute;
	cursor: pointer;
}

.jakey {
	width: 60%;
	position: relative;
	transform: translateY(-75%);
	text-align: relative;
	color: #6495EE;
}

.jakey h1{
	transform: translateX(100px);
	font-size: 30px;
}

.adam{
	width: 200px;
	position: absolute;
	margin-top: 325px;
	cursor: pointer;
}

.adamm {
	width: 60%;
	position: relative;
	text-align: relative;
	transform-origin: right;
	transform: translateX(33.4%);
	color: #6495EE;
}

.adamm h1{
	transform: translateX(150px);
	margin-left: 185px;
	transform: translateY(315px);
	font-size: 30px;
}

.cam{
	width: 200px;
	position: absolute;
	margin-top: 240px;
	cursor: pointer;
}

.cameron {
	width: 60%;
	position: relative;
	text-align: relative;
	transform-origin: right;
	transform: translateX(89%);
	color: #6495EE;
}

.cameron h1{
	transform: translateX(150px);
	margin-left: 185px;
	transform: translateY(315px);
	font-size: 30px;
}







