*{
	margin:  0;
	padding:  0;
	font-family: monospace, cursive;
}

.banner{
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.75)), url(images.jpg);
	background-size: cover;
	background-position: center;
}

.navbar{
	width: 85%;
	margin: auto;
	padding: 35px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar h1{
	color: #fff;
	margin-top: 25px;
	transform: translateX(20px);
	color: #90ee90
}

.logo{
	width: 200px;
	position: absolute;
	margin-top: 210px;
	cursor: pointer;
}


.navbar ul li{
	list-style: none;
	display: inline-block;
	margin: 0 20px;
	position: relative;
}

.navbar ul li a{
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
}

.navbar ul li::after{
	content: '';
	height: 2px;
	width: 0%;
	background: #009688;
	position: absolute;
	left: 0;
	bottom: -7.5px;
	transition: 0.5s;
	}

	.content{
	width: 100%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	color: #fff;
 text-shadow: -4px 4px #ef3550,
               -8px 8px #f48fb1,
}

.content h1{
	font-size: 50px;
	margin-top: -420px;
}

.content p{
	margin: 20px auto;
	font-weight: 100;
	line-height: 30px;
}

.navbar ul li:hover::after{
	width: 100%;
}

.jacob{
	width: 100px;
	position: absolute;
	cursor: pointer;
}

.jakey {
	width: 60%;
	position: relative;
	transform: translateY(450px);
	text-align: relative;
	color: #6495EE;
}

.jakey h1{
	transform: translateX(50px);
	font-size: 15px;
}

.sanjit{
	width: 105px;
	height: 180px;
	position: absolute;
	cursor: pointer;
}

.jitster {
	width: 60%;
	position: relative;
	transform: translateY(860px);
	margin-left: 150px;
	text-align: relative;
	color: #6495EE;
}

.jitster h1{
	transform: translateX(50px);
	font-size: 15px;
}

.adam{
	width: 110px;
	position: absolute;
	cursor: pointer;
}

.adman {
	width: 60%;
	position: relative;
	transform: translateY(860px);
	margin-top: 405px;
	margin-left: 300px;
	text-align: relative;
	color: #6495EE;
}

.adman h1{
	transform: translateX(50px);
	font-size: 15px;
}

.cam{
	width: 110px;
	height: 170px;
	position: absolute;
	cursor: pointer;
}

.cameron {
	width: 60%;
	position: relative;
	transform: translateY(860px);
	margin-top: 405px;
	margin-left: 460px;
	text-align: relative;
	color: #6495EE;
}

.cameron h1{
	transform: translateX(50px);
	font-size: 15px;
}

.sam{
	width: 110px;
	height: 170px;
	position: absolute;
	cursor: pointer;
}

.samuel {
	width: 60%;
	position: relative;
	transform: translateY(857.5px);
	margin-top: 405px;
	margin-left: 620px;
	text-align: relative;
	color: #6495EE;
}

.samuel h1{
	transform: translateX(50px);
	font-size: 15px;
}

.refik{
	width: 100px;
	position: absolute;
	cursor: pointer;
}

.refikipoo {
	width: 60%;
	position: relative;
	transform: translateY(1500px);
	text-align: relative;
	color: #6495EE;
}

.refikipoo h1{
	transform: translateX(50px);
	font-size: 15px;
}

.kurtis{
	width: 120px;
	position: absolute;
	cursor: pointer;
}

.krutis {
	width: 60%;
	position: relative;
	transform: translateY(1903px);
	margin-left: 145px;
	text-align: relative;
	color: #6495EE;
}

.krutis h1{
	transform: translateX(60px);
	font-size: 15px;
}

.fate{
	width: 125px;
	height: 210px;
	position: absolute;
	cursor: pointer;
}

.ethan {
	width: 60%;
	position: relative;
	transform: translateY(2305px);
	margin-left: 300px;
	text-align: relative;
	color: #6495EE;
}

.ethan h1{
	transform: translateX(60px);
	font-size: 15px;
}

